In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
from db_connection import user,ps,host,port
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [ ]:
 # variables to populate the database connection string
db_user = user
db_password = ps
db_host = host
db_port = port

# This database must already exist
db_name = "employee_db"

In [ ]:
#Create engine to connect to the DB
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

In [ ]:
salary = pd.read_sql_table("salaries",engine)
salary.head()

In [ ]:
x = salary["salary"]
x

In [ ]:
#create a bin
num_bins = 10
n, bins, patches = plt.hist(x, num_bins, facecolor='xkcd:magenta', alpha=0.5, edgecolor='black')

plt.xlabel('Salary')
plt.ylabel('Number of Employees')
plt.title('Most Common Salary Ranges For Employees')
plt.grid()
plt.tight_layout()
plt.show()

In [ ]:
query = '''
SELECT t.title,s.salary
FROM salaries AS s
INNER JOIN employees AS e
ON (s.emp_no = e.emp_no)
INNER JOIN titles AS t
ON e.emp_title = t.title_id;
'''

title_salary = pd.read_sql_query(query,engine)
title_salary.head()

In [ ]:
group_sal = title_salary.groupby(title_salary["title"])
avg_salary = group_sal["salary"].mean()
avg_salary

In [ ]:
average_salary_df = pd.DataFrame({'avg salary': avg_salary})
avg_sal = average_salary_df.reset_index()
avg_sal

In [ ]:
plt.style.use('ggplot')

x = avg_sal['title']
y = avg_sal['avg salary']


plt.bar(x, y, color=["b", "g", "r", "c", "m", "y", "k"])
plt.xlabel("Job Title Name")
plt.ylabel("Salary")
plt.title("Average Salary By Title")

# rotate axis labels
plt.setp(plt.gca().get_xticklabels(), rotation=45, horizontalalignment='right')

# Format the labels on y-axis with dollar sign
current_values = plt.gca().get_yticks()
plt.gca().set_yticklabels(['${:,.0f}'.format(x) for x in current_values])

plt.show()